{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Journal Log</title>

		{% bootstrap_css %}
		{% bootstrap_javascript %}
	</head>

	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
					</button>
					<a class="navbar-brand" href="{% url 'journal_logs:index' %}">Journal Log </a>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'journal_logs:topics' %}">Topics</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
							<li><a>Hello, {{ user.username }}.</a></li>
							<li><a href="{% url 'users:logout' %}">log out</a></li>
						{% else %}
							<li><a href="{% url 'users:register' %}">create account</a></li>
							<li><a href="{% url 'users:login' %}">log in</a></li>
						{% endif %}
					</ul>
				</div><!--/.nav-collapse-->
			</div>
		</nav>

		<div class="container">

			<div class="page-header">
				{% block header %}{% endblock header %}
			</div>
			<div>
			{% block content %}{% endblock content %}
			</div>

		</div> <!--/container collapse-->
	</body>
</html>

<!--
we have gone from the simple codes below that kickstarted and ensured our app's functionality to styling them above using bootstrap3's css template. it is always a good idea to start with the simple codes, then when the app is working as needed, embed the codes in the styling template.
<p>
  <a href="{% url 'journal_logs:index' %}">Learning Log </a> -
  <a href="{% url 'journal_logs:topics' %}">Topics</a> -
  {% if user.is_authenticated %}
     Hello, {{ user.username }}.
     <a href="{% url 'users:logout' %}">log out</a>
  {% else %}
     <a href="{% url 'users:register' %}">create account</a>
     <a href="{% url 'users:login' %}">log in</a>
  {% endif %}
</P>
-->
<!--{block content %}{endblock content %}-->

