<!--This file is a child template that inhereits from the parent template base.html-->

{% extends 'journal_logsApp/base.html' %}
<!--
{block content %}
  <p> <h2>Journal Log</h2> helps you keep track of your journals, for any topic you're about to write.</p>
 {endblock content %}
-->

 <!-- styling the homepage with the bootstrap element Jumbotron. we will take all the codes above and style them -->
{% block header %}
 	<div class='jumbotron'>
		<h1>Track your journal.</h1>
	</div>
{% endblock header %}

{% block content %}
<h2>
	<a href="{% url 'users:register' %}">Create an account</a> to make your own journal log: list the topics you are writing about, make entries about them as you go, keep your journal organized.
</h2>
{% endblock content %}
