{%extends 'journal_logsApp/base.html' %}

<!--
{block content %}
  <p>Topic: {{ topic }}</p>
  <p>Entries:</p>
  <p>
     <a href="{% url 'journal_logs:new_entry' topic.id %}">add new entry</a>
  </p>
  <ul>
     {for each_entry in entries %}
       <li>
	   <p> {{ each_entry.date_added|date:'M d, Y H:i' }}</p>
	   <p> {{ each_entry.text|linebreaks }}</p>
	   <p>
	       <a href="{% url 'journal_logs:edit_entry' each_entry.id %}">edit entry</a>
	   </p>
-->

{% block header %}
  <h2>{{topic}}</h2>
{% endblock header %}

{% block content %}
  <p>
     <a href="{% url 'journal_logs:new_entry' topic.id %}">add new entry</a>
  </p>

  {% for each_entry in entries %}
     <div class="panel panel-default">

	<div class="panel-heading">
	   <h3>
              {{ each_entry.date_added|date:'M d, Y H:i' }}
	      <small>
		 <a href="{% url 'journal_logs:edit_entry' each_entry.id %}">edit entry</a>
	      </small>
	   </h3>
	</div>

        <div class="panel-body">
           {{ each_entry.text|linebreaks }}
        </div>

     </div> <!--panel collapse -->

  {% empty %}
      There are no entries for this topic yet.
  {% endfor %}
{% endblock content %}
